
#food{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin: 50px;
}

#food-info{
    background-color: white;
    border-radius: 15px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: -webkit-fill-available;
    width: 60%;
}


#food-info .img{
    background-color: transparent;
    max-height: 300px;
    max-width: 300px;
    align-self: center;
    /* object-fit: cover; */
}

#food-info .img img{
    width: 100%;
    /* height:max-content; */
    /* object-fit: cover; */
}


#food-info .food-details{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#food-info .title{
    font-size: 20px;
}

#food-info .info{
    font-size: 15px;
    margin: 15px 0;
}

#food-info .price-details{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#food-info .price-details > div{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#food-info .price-details .discount{
    background-color: yellowgreen;
    padding: 10px 20px;
    border-radius: 50px;
}

#food-info .buy button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(23, 15, 109);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}


#food-info .buy a{
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    background-color: rgb(23, 15, 109);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}







/* ============= sidebar similar items ============== */



#similar-items{
    background-color: white;
    width: 40%;
    /* min-height: 300px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


#similar-items .results{
    background-color: #f0f0f0;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    min-height: auto;
}

#similar-items .results > div{
    width: 200px;
    padding: 10px;
}

#similar-items .results > div.info{
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


#similar-items .results > div.info .name{
    font-size: 20px;
    font-weight: 600;
}

#similar-items .results > div.info .data{
    text-align: justify;
}


#similar-items .results > div.info .price{
    font-size: 20px;
    display: flex;
    column-gap: 15px;
}


#similar-items .results > div.info .price .view-btn a{
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    background-color: rgb(23, 15, 109);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}


#similar-items .results img{
    width: 100%;
}
/*  ================ end =========== */
